@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --card: #f8fafc;
  --card-foreground: #171717;
  --primary: #6366f1;
  --primary-foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
