@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --card: #111111;
  --card-foreground: #ffffff;
  --primary: #6366f1;
  --primary-foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
}
